---
import Layout from '../layouts/Layout.astro';
import Tag from '../components/Tag.astro';
import BookAppointmentButton from "../components/BookAppointmentButton.astro";

---

<Layout activePage={1} title="Home - Medicate">
	<section class="px-5 sm:px-10 md:px-14 lg:px-20 mb-20">

  <!-- Top Section -->
  <section class="px-4 py-8 grid md:px-2 md:grid-cols-1 lg:grid-cols-2 gap-8 items-center">
    <div>
      <Tag>Great experience in building</Tag>
      <h2 class="text-2xl md:text-3xl font-bold mt-6 mb-4">Orthopedic Treatment Acute Pain</h2>
      <p class="text-gray-600 mb-4">Excellence in orthopedic care through expertise, technology, and compassion, ensuring better health outcomes for a range of pain conditions.</p>
	  <p class="text-gray-600 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo cum maxime quia aperiam eos molestiae distinctio deserunt ea minus? Libero eos iusto expedita doloribus laborum, mollitia magni culpa eum quos et adipisci nostrum sit earum. Perferendis ab autem repellat sunt illo debitis natus consequuntur ducimus, dolore delectus, libero expedita porro nam eaque iure. Ullam recusandae numquam aut ipsa dolore. Cum aliquam, laboriosam reiciendis neque beatae rem, iusto dolore quasi dignissimos quae earum distinctio quod ea perferendis asperiores doloribus eum quas nesciunt voluptatibus aperiam facilis. Neque rerum doloremque omnis eligendi tempore totam quibusdam asperiores odit explicabo magni quo, enim atque nam!</p>
      <a href="#" class="inline-flex items-center text-blue-600 font-medium hover:underline mt-2.5">
        Read More →
      </a>
    </div>
    <div class="w-full h-full rounded-lg hidden lg:block 2xl:block">
      <img src="/hero1.png" alt="Hero" class="h-[480px] w-full object-contain rounded-lg">
    </div>
  </section>

  <!-- Info Cards Section -->
  <section class="max-w-7xl mx-auto px-4 grid sm:grid-cols-1 md:grid-cols-3 gap-6 py-8">
	  <div class="bg-[#7977DE] p-6 rounded-lg shadow-md text-white space-y-3">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-hospital-icon lucide-hospital"><path d="M12 6v4"/><path d="M14 14h-4"/><path d="M14 18h-4"/><path d="M14 8h-4"/><path d="M18 12h2a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-9a2 2 0 0 1 2-2h2"/><path d="M18 22V4a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v18"/></svg>
		<h3 class="text-lg font-semibold">Emergency Cases</h3>
		<p class="text-sm">Please feel free to contact our friendly reception staff with any general or medical enquiry.</p>
		<p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, iusto.</p>
		<div class="items-center gap-2 inline-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-icon lucide-phone"><path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 20 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/></svg>
            <span class="text-white text-sm">+234 076 787 87</span>
        </div>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-md space-y-3">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-newspaper-icon lucide-newspaper"><path d="M15 18h-5"/><path d="M18 14h-8"/><path d="M4 22h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v16a2 2 0 0 1-4 0v-9a2 2 0 0 1 2-2h2"/><rect width="8" height="4" x="10" y="6" rx="1"/></svg>
      <h3 class="text-lg font-semibold">Doctors Timetable</h3>
      <p class="text-sm text-gray-700">View our timetable to make an appointment or get more information.</p>
	  <p class="text-sm text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, iusto.</p>
      <a href="#" class="inline-block text-blue-600 font-medium hover:underline">Read More →</a>
    </div>
    <div class="bg-[#7977DE] p-6 rounded-lg shadow-md text-white space-y-3">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-heart-icon lucide-calendar-heart"><path d="M3 10h18V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7"/><path d="M8 2v4"/><path d="M16 2v4"/><path d="M21.29 14.7a2.43 2.43 0 0 0-2.65-.52c-.3.12-.57.3-.8.53l-.34.34-.35-.34a2.43 2.43 0 0 0-2.65-.53c-.3.12-.56.3-.79.53-.95.94-1 2.53.2 3.74L17.5 22l3.6-3.55c1.2-1.21 1.14-2.8.19-3.74Z"/></svg>
      <h3 class="text-lg font-semibold">Opening Hours</h3>
      <ul class="text-sm space-y-2">
        <li>Monday - Friday: 8:00AM - 6:00PM</li>
        <li>Saturday: 9:00AM - 2:00PM</li>
        <li>Sunday: 9:00AM - 4:00PM</li>
		<li>Emergency Room - 24HRS 7DAYS</li>
      </ul>
    </div>
  </section>

  <!-- Lower Feature Section -->
  <section class="max-w-7xl mx-auto px-4 py-10 grid md:grid-cols-2 gap-8 items-start my-10">
    <div class="w-full h-full rounded-lg">
		<img src="/about.png" alt="About Us" class="h-[400px] w-full object-cover rounded-lg">
	</div> 
    <div>
      <Tag>What About Us</Tag>
      <h2 class="text-2xl md:text-3xl font-semibold mb-4">The Heart And Science Of Medic Test</h2>
      <ul class="list-disc list-inside text-gray-700 space-y-1 mb-4">
        <li>Allergy and Immunology Services</li>
        <li>Robotic Surgical Solutions</li>
        <li>Cardiovascular Diagnosis</li>
        <li>Health Check-ups & Routine Care</li>
        <li>Comprehensive Inpatient & Outpatient Services</li>
        <li>Medical And Surgical Services</li>
        <li>Specialized Support Service</li>
        <li>Instant Operation & Appointment.</li>
      </ul>
      <div>
        <BookAppointmentButton client:load />
      </div>
    </div>
  </section>
	</section>

</Layout>
